/*

filename: lab04.css

author: quoc an

created: 10/10/2026

last modified: 10/10/2026

description: stylesheet for lab04.html

*/


* {
    font-family: calibri, sans-serif;
    color: #2F4F4F;
}

h1 {
    color: purple;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    color: rgb(0,128,128);
    font-weight: bold;
    font-size: 1.5em;
}

hr {
    margin-top: 0px;
    border: none;
    height: 2px;
    background-color: #2F4F4F;
}


aside, footer {
    font-style: italic;
}

h1, h2, h3 {
    font-family: arial, sans-serif;
}

table, th, td {
    border: 1px solid black;
}


#images {
    text-align: center;
}

#heading-h3 {
    color: red;
}


.special {
    color: darkorange;
    font-weight: bold;
}

.month {
    text-align: right;
}


nav {
    padding: 15px;
}

nav a {
    text-decoration: none;
    padding: 0.2em 0.6em;
    border: 4px solid #ccc;
}

ol ul {
    list-style-type: square;
}


aside:hover {
    display: none;
}

nav a:hover {
    background-color: lightblue;
    border-color: darkblue;
}
